/* 
    Google Fonts Imports

// <weight>: Use a value from 200 to 700
// <uniquifier>: Use a unique and descriptive class name

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}

// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/

// 
//  SCSS Variables
// 
// NOTE: The background for the logo is #7c9dbc, which is a light blue color.
$Dark-Header: #004466;
$Background-Color: #f9f9f9;
$Main-Text-Color: #333;
$Important-Text-Color: #0d5e87;
$Text-Contrast-Color: #ffffff;
$Footer-Background: #222;
$Footer-Text-Color: #ddd;
$Important-Button-Color: #007bff;
$Secondary-Button-Color: #7c9dbc;

/* #region Base Styles & Resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: $Background-Color;
    color: $Main-Text-Color;
}
main {
    padding: 2rem 0rem 2rem 0;
    width: 50%;
    max-width: 90rem;
    margin: 0 auto;
    
}
/* #endregion Base Styles & Resets */

// 
//  Accessibility Helpers
// 

a:focus-visible, button:focus-visible {
    outline: 3px solid $Important-Button-Color;
    outline-offset: 3px;
}

@media (prefers-reduced-motion: reduce) {
    * {
        transition: none !important;
    }
}

// 
//  Header & Navigation
//

header {
    background-color: $Dark-Header;
    padding: 1rem;
    .custom-navbar {
        
        .nav-link {
            color: $Text-Contrast-Color;
            font-family: "Oswald", sans-serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-size: 1.75rem;
            display: inline-block;
        }
    
        .navbar-toggler {
            border-color: $Text-Contrast-Color;
        
            .navbar-toggler-icon {
                color: $Text-Contrast-Color;
            }
        }

        .navbar-brand {
            display: flex;
            align-items: center;
            margin-right: 0;
        }

        .navbar-nav {
            align-items: end;
        }
        @media (min-width: 600px) {
            .navbar-brand{
                img {
                    margin-right: 1rem;
                }
            }
        }
    }

    .custom-toggler {
        padding: 0.5rem;

        .toggler-icon {
            display: block;
            width: 25px;
            height: 3px;
            background-color: $Text-Contrast-Color;
            margin: 5px 0;
            transition: transform 0.45s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.3s ease;
        }
    
        // Animate when navbar is expanded
        &[aria-expanded="true"] {
            .toggler-icon:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }
            .toggler-icon:nth-child(2) {
                opacity: 0;
            }
            .toggler-icon:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
        }
    }
}

nav {
    ul {
        list-style: none;
        display: flex;
        gap: 1rem;
    }

    a {
        color: $Text-Contrast-Color;
        text-decoration: none;
        font-weight: bold;
    }
    
    a:hover,a:focus {
        text-decoration: underline;
    }
}
//
// Main Content
//

section {
    margin-bottom: 2rem;
}


h2 {
    margin-bottom: 0.5rem;
    color: $Important-Text-Color;
}

.intro-h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 800;
    font-size: 4rem;
    color: $Important-Text-Color;
    text-align: center;
}

.custom-button {
    background-color: $Dark-Header;
    color: $Text-Contrast-Color;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
    transition:
    background-color 0.2s ease,
    box-shadow 0.2s ease,
    transform 0.15s ease;

    &:hover, &:focus-visible {
        background-color: lighten($Dark-Header, 10%);
        transform: translateY(-2px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);
    }
}

.important-button {
    background-color: $Important-Button-Color;

    &:hover, &:focus-visible {
        background-color: darken($Important-Button-Color, 10%);
        transform: translateY(-3px);
    }
}

.secondary-button {
    background-color: $Secondary-Button-Color;

    &:hover {
        background-color: darken($Secondary-Button-Color, 10%);
    }
}

//
// Home Section
//

.custom-hero {
    width: 100%;
    max-width: none;
    padding: 2rem;
    color: $Text-Contrast-Color;
    background: linear-gradient(to bottom, rgba(120, 186, 219, 0.8), rgba(0, 68, 102, 0.8)), url('/images/Gallery\ Photos/Kwigwis-Gallery-17.jpeg') no-repeat center center;
    h1{
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
    }
}

.custom-hero-text-logo{
    max-width: 90%;
    height: auto;
    display: block;
    margin: 0 auto 1rem auto;
}

.home-cta {
    font-weight: bold;
}

.home-page-buttons {
    text-decoration: none;
    max-width: 400px;

    &:hover {
        color: $Text-Contrast-Color;
    }
}

.three-column-intro-photos{
    margin: 3rem auto;
    max-width: 80vw; // optional, controls how wide the section can get
    padding: 0.5rem;
    background-color: $Background-Color;
}

//
// About Us Section
//
.about-captain-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    // Desktop breakpoint
    @media (min-width: 1200px) {
        flex-direction: row;
        align-items: center;

        .about-captain-text {
            flex: 1;
            padding-right: 1rem;
        }
    }
}
.simple-inline-portrait {
    max-width: 350px; 
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.3);
    &:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }
}
.about-boat-gallery-section{
    margin: 3rem auto;
    max-width: 80vw; // optional, controls how wide the section can get
    padding: 0.5rem;
    background-color: $Background-Color;
}
.about-boat-gallery-masonry {
    column-count: 2; // number of columns on desktop
    column-gap: 1rem;

    img {
        width: 100%;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        display: block;
        break-inside: avoid;
        box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.3);
        &:hover {
            transform: scale(1.5);
            transition: transform 0.6s ease;
        }
    }

    @media (max-width: 768px) {
        column-count: 1;
        img:hover {
            transform: scale(1.25);
            transition: transform 0.3s ease;
        }
    }
}

//
// Gallery Section
//

.gallery-intro-heading{
    font-size: 5rem;
}

.gallery-intro-paragraph{
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: -2rem;
}
.gallery-section{
    margin: 3rem auto;
    max-width: 80vw; // optional, controls how wide the section can get
    // border: 0.5rem solid $Important-Text-Color;
    // border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: $Background-Color;
}

.masonry-gallery {
  column-count: 3; // number of columns on desktop
  column-gap: 1rem;

  img {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    display: block;
    break-inside: avoid;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.3);
    &:hover {
        transform: scale(1.25);
        transition: transform 0.3s ease;
    }
  }

  @media (max-width: 768px) {
        column-count: 1;
  }
}

//
// Contact And Offerings Section
//
.package-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.package-list-item{
    margin-bottom: 1.5rem;
    padding: 1rem;
    border: 0.1rem solid $Important-Text-Color;
    border-radius: 0.5rem;
    background-color: $Background-Color;
    &:first-child {
        margin-top: 1rem;
    }
}
.package-title{
    font-family: "montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 1rem;
    color: $Important-Text-Color;
}
.contact-intro{
    font-family: "Oswald", sans-serif;
    font-weight: 800;
    font-size: 3rem;
    color: $Important-Text-Color;
    padding-bottom: 1rem;
}
.contact-heading {
    font-family: "Oswald", sans-serif;
    color: $Important-Text-Color;
    font-size: 2.5rem;
    padding-bottom: 1rem;
}
.whale-gallery-band{
    margin: 1rem auto;

    .whale-watching-picture{
        display: block;
        margin: 0rem auto 2rem auto;
        max-width: 100%;
        border-radius: 0.5rem;
        box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.3);
        height: auto;
    }
    .photo-credit{
        text-align: center;
        font-size: 0.85rem;
        color: $Main-Text-Color;
        margin-top: -2rem;
        margin-bottom: 2rem;
    }
}

.policy-section {
    margin-top: 3rem;
    padding: 1.5rem;
    background-color: darken($Background-Color, 5%);
    border-left: 0.25rem solid $Important-Text-Color;
    border-radius: 0.5rem;
}

// 
// Footer
// 

footer {
    background-color: $Footer-Background;
    color: $Text-Contrast-Color;
    padding: 1rem;
    text-align: center;

    nav{
        ul {
            display: flex;
            gap: 1rem;
            justify-content: center;
            list-style: none;
            margin-top: 0.5rem;
        }
        a {
            color: $Text-Contrast-Color;
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
    }
    .social-media-links {
        margin-top: 0.5rem;
        a {
            color: $Text-Contrast-Color;
            margin: 0 0.5rem;
            display: inline-block;
        }
        svg.bi{
            width: 1.5rem;
            height: 1.5rem;      
        }
    }
}

// 
// Responsive Styles
// 
// Phone: 600px and below
@media (max-width: 600px) {
    main {
        width: 100%;
        padding: 2rem;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    footer {
        nav ul {
            flex-direction: row;
            align-items: center;
            padding-left: 0;
            .footer-links{
                margin: 0 0.5rem;
            }
            li {
                margin: 0 0.5rem;
            }
        }
        .social-media-links {
            justify-content: center;
        }
    }

    .intro-h1 {
        font-size: 2.7rem;
    }

///Home Section
    .custom-hero{
        padding: 1rem;
        h1{
            font-size: 1.5rem;
        }
        .custom-hero-image{
            width: 70%;
            height: auto;
        }
    }  
/* About Us Section */
    .simple-inline-portrait {
        max-width: 100%;
    }
/// Gallery Section
    .gallery-intro-heading{
        font-size: 4rem;
    }
    .gallery-intro-paragraph{
        margin-bottom: -1rem;
    }


// Contact And Offerings Section
    .contact-intro{
        font-size: 2.2rem;
    }
    .contact-heading {
        font-size: 2rem;
    }
    .whale-watching-picture{
        max-width: 100%;
    }
}

// Tablet: 601px to 1023px
@media (min-width: 601px) and (max-width: 1023px) {
    main {
        width: 90%;
        padding: 2rem;
    }

    .intro-h1 {
        font-size: 3.5rem;
    }

    .custom-hero{
        padding: 1.5rem;
        h1{
            font-size: 2.5rem;
        }
        .custom-hero-image{
            width: 50%;
            height: auto;
        }
    }
    /* About Us Section */
    .simple-inline-portrait {
        max-width: 60%;
        margin: 0 auto;
    }
}
