/* 
    Google Fonts Imports

// <weight>: Use a value from 200 to 700
// <uniquifier>: Use a unique and descriptive class name

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}

// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/

// 
//  SCSS Variables
// 
// NOTE: The background for the logo is #7c9dbc, which is a light blue color.
$Dark-Header: #004466;
$Background-Color: #f9f9f9;
$Main-Text-Color: #333;
$Important-Text-Color: #0d5e87;
$Text-Contrast-Color: #ffffff;
$Footer-Background: #222;
$Footer-Text-Color: #ddd;

// 
//  Base Styles & Resets
// 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: $Background-Color;
    color: $Main-Text-Color;
}

// 
//  Accessibility Helpers
// 

// 
//  Header & Navigation
//

header {
    background-color: $Dark-Header;
    padding: 1rem;
    .custom-navbar {
        .nav-link {
            color: $Text-Contrast-Color;
            font-family: "Oswald", sans-serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-size: 1.75rem;
            display: contents;
        }
    
        .navbar-toggler {
            border-color: $Text-Contrast-Color;
        
            .navbar-toggler-icon {
                color: $Text-Contrast-Color;
            }
        }
        @media (min-width: 600px) {
            .navbar-brand{
                img {
                    margin-right: 2rem;
                }
            }
        }
    }

    .custom-toggler {
        padding: 0.5rem;

        .toggler-icon {
            display: block;
            width: 25px;
            height: 3px;
            background-color: $Text-Contrast-Color;
            margin: 5px 0;
            transition: transform 0.45s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.3s ease;
        }
    
        // Animate when navbar is expanded
        &[aria-expanded="true"] {
            .toggler-icon:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }
            .toggler-icon:nth-child(2) {
                opacity: 0;
            }
            .toggler-icon:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
        }
    }
}

nav {
    ul {
        list-style: none;
        display: flex;
        gap: 1rem;
    }

    a {
        color: $Text-Contrast-Color;
        text-decoration: none;
        font-weight: bold;
    }
    
    a:hover,a:focus {
        text-decoration: underline;
    }
}
//
// Main Content
//
.custom-hero {
        width: 100%;
        max-width: none;
        padding: 2rem;
        color: $Text-Contrast-Color;
        background: linear-gradient(to bottom, rgba(120, 186, 219, 0.8), rgba(0, 68, 102, 0.8)), url('/images/Gallery\ Photos/Kwigwis-Gallery-17.jpeg') no-repeat center center;
        h1{
            font-family: "Oswald", sans-serif;
            font-optical-sizing: auto;
            font-weight: 500;
        }
}

main {
    padding: 2rem 10rem 2rem 0;
    width: 50%;
    max-width: 90rem;
    margin: 0 auto;
    
}

section {
    margin-bottom: 2rem;
}


h2 {
    margin-bottom: 0.5rem;
    color: $Important-Text-Color;
}

.custom-button {
    background-color: $Dark-Header;
    color: $Text-Contrast-Color;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: lighten($Dark-Header, 10%);
    }
}
//
// About Us Section
//
.about-captain-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @media (min-width: 600px) {
        flex-direction: row;
        align-items: center;

        .about-captain-text {
            flex: 1;
            padding-right: 1rem;
        }
    }
}
.simple-inline-portrait {
    max-width: 300px; 
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.3);
    &:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }
}

//
// Gallery Section
//

.gallery-section{
    margin: 3rem auto;
    max-width: 80vw; // optional, controls how wide the section can get
    border: 0.5rem solid $Important-Text-Color;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: $Background-Color;
    .carousel-item {
        height: 500px; // set a fixed height for consistency

      img {
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
}
// .simple-gallery {
//     width: 100%;
//     max-width: 600px; // optional, controls how wide the images can get
//     margin: 1rem auto;
//     border-radius: 0.5rem;
//     box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.3);
//     object-fit: cover;
//     object-position: center;
//     display: flex;
//     &:hover {
//         transform: scale(1.05);
//         transition: transform 0.3s ease;
//     }
// }

.masonry-gallery {
  column-count: 3; // number of columns on desktop
  column-gap: 1rem;

  img {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    display: block;
    break-inside: avoid;
  }

  @media (max-width: 768px) {
    column-count: 1;
  }
}


//
// Contact And Offerings Section
//
.package-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.package-list-item{
    margin-bottom: 1.5rem;
    padding: 1rem;
    border: 0.1rem solid $Important-Text-Color;
    border-radius: 0.5rem;
    background-color: $Background-Color;
    &:first-child {
        margin-top: 1rem;
    }
}
.package-title{
    font-family: "montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 1rem;
    color: $Important-Text-Color;
}
.contact-intro{
    font-family: "Oswald", sans-serif;
    font-weight: 800;
    font-size: 3rem;
    color: $Important-Text-Color;
    padding-bottom: 1rem;
}
.contact-heading {
    font-family: "Oswald", sans-serif;
    color: $Important-Text-Color;
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

// 
// Footer
// 

footer {
    background-color: $Footer-Background;
    color: $Text-Contrast-Color;
    padding: 1rem;
    text-align: center;

    nav{
        ul {
            display: flex;
            gap: 1rem;
            justify-content: center;
            list-style: none;
            margin-top: 0.5rem;
        }
        a {
            color: $Text-Contrast-Color;
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
    }
    .social-media-links {
        margin-top: 0.5rem;
        a {
            color: $Text-Contrast-Color;
            margin: 0 0.5rem;
            display: inline-block;
        }
        svg.bi{
            width: 1.5rem;
            height: 1.5rem;      
        }
    }
}

// 
// Responsive Styles
// 
@media (max-width: 600px) {
    main {
        width: 100%;
        padding: 2rem;
    }

    .navbar-nav {
        align-items: end;
        padding-top: 2rem;

        .nav-item{
            margin-bottom: 1rem;
        }
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .custom-hero{
        padding: 1rem;
        h1{
            font-size: 1.5rem;
        }
        .custom-hero-image{
            width: 70%;
            height: auto;
        }
    }

    footer {
        nav ul {
            flex-direction: row;
            align-items: center;
            padding-left: 0;
            .footer-links{
                margin: 0 0.5rem;
            }
            li {
                margin: 0 0.5rem;
            }
        }
        .social-media-links {
            justify-content: center;
        }
    }
    
// Contact And Offerings Section
    .contact-intro{
        font-size: 2.2rem;
        text-wrap: nowrap;
    }
    .contact-heading {
        font-size: 2rem;
    }
}
